* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container-head {
    width: 100%;
    background-color: rgb(50, 120, 108);
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.container-head input {
    height: 4vh;
    width: 35%;

    background-color: rgba(54, 39, 18, 0.352);
    margin-right: 0.5rem;
    color: rgba(240, 248, 255, 0.74);
}

.container-head button {
    height: 4.4vh;
    width: 10%;
    background-color: rgb(148, 143, 143);
    border: none;
    cursor: pointer;
    transition: background-color 1000ms ease;
    font-weight: 700;
}

.container-head button:hover {
    background-color: rgb(114, 131, 146);
}

.container {
    width: 100%;
    min-height: 89vh;
    background-color: rgb(50, 120, 108);
    display: flex;
    justify-content: center;
}

#main-ul {
    padding-top: 1rem;
    width: 48%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    list-style: none;
}


#main-ul li {
    height: 6rem;
    margin-top: 0.5rem;
    background-color: rgb(69, 57, 42);
    color: rgba(240, 248, 255, 0.755);
    display: grid;
    grid-template-columns: 90% 5%;
    align-items: center;
    justify-content: center;

}

.text {
    max-width: 100%;
    height: 90%;
    background-color: rgba(131, 95, 95, 0);
    color: aliceblue;
    font-size: larger;
    border: none;
}

.closeButton {
    background-color: red;
    margin-top: -4rem;
    cursor: pointer;
    width: 15px;
    border-radius: 50%;
    font-size: x-small;
}